.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  max-height: 40px;
  padding: 32px 0 28px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
}

.header__meta-logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__add-clothes {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  margin: 0;
  height: 40px;
  width: 89px;
  /* gap: 24px; */
}

.header__meta {
  /* position: fixed; */
  font-family: "Cabinet Grotesk", sans-serif;
  margin: 0;
  left: 135px;
}

.header__add-clothes-btn {
  /* position: fixed; */
  right: 260px;
  margin: 0;
  padding: 0;
  border-color: transparent;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-name {
  margin: 0;
}
