.modal__clothing-type {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  padding: 0;
  /* padding: 28px 28px 36px; */
  max-width: 498px;
  box-sizing: border-box;
  width: 100%;
}

/* .modal__content {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  padding: 0;

  max-width: 498px;
  box-sizing: border-box;
  width: 100%;
} */
.modal__image {
  display: block;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  margin: 0;
  height: auto;
  /* padding: 0; */

  /* margin-bottom: 20px; */
}

.modal__footer {
  display: flex;
  flex-direction: column;
  max-width: 498px;
  margin: 20px 0 0 32px;
  /* justify-content: space-between; */
  /* padding: 20px 0 12px; */
  /* margin-top: 20px;
  margin-bottom: 28px; */
}

.modal__caption {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 20px 0 0 0;
  padding-bottom: 12px;
  /* margin-bottom: 24px; */
}

.modal__weather {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 32px -14px;
  /* padding-top: 12px; */
  /* margin-bottom: 32px; */
  /* padding: 12px; */
}

.modal__close {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}
