.modal__content_type_image {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  padding: 0;
  max-width: 498px;
  box-sizing: border-box;
  width: 100%;
}

.modal__image {
  display: block;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  margin: 0;
  height: auto;
}

.modal__footer {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 498px;
  margin: 20px 0 0 32px;
}

.modal__delete {
  position: absolute;
  top: 16px;
  right: 16px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  width: auto;
  height: 24px;
  background-color: transparent;
  border: none;
  color: #ff4d00;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.modal__caption {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 20px 0 0 0;
  padding-bottom: 12px;
}

.modal__weather {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 32px 0;
}

.modal__close {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}
