.clothes-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* top: 177px;
  left: 386px; */
  padding: 0;
  margin: 0;
}

.clothes-section__header {
  display: flex;
  /* justify-content: space-between; */
  /* left: 385px;
  top: 135px; */
  /* padding: 0; */
  /* margin: 40px, 0, 16px, 0; */
}

.clothes-section__title {
  margin: 0px;
  padding: 0px;
}
.clothes-section__bttn {
  margin: 0;
  padding: 0;
  border-color: transparent;
}

.clothes-section__closet {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding: 0;
  margin: 0;
  /* list-style-type: none; */
  gap: 20px;
}
